<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>weiso</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
        <string>/data/weiso/manage.py</string>
      <string>runfcgi</string>
      <string>method=threaded</string>
      <string>host=127.0.0.1</string>
      <string>port=8000</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/data/weiso</string>
  </dict>
</plist>
